In [241]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
import pandas as pd


import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import warnings
warnings.filterwarnings("ignore")

In [242]:
from selenium.webdriver.common.keys import Keys

In [277]:
import os
print("Excel sheet for 2492 known odi players... \nYou can look up for any of the player's query or try a player other than these if you want to try..!!! ")
os.startfile(r'C:\Users\HP\odi2.csv')

Excel sheet for 2492 known odi players...
You can look up for any of the player's query or try a player other than these if you want to try..!!!

In [278]:
from selenium import webdriver
from selenium.webdriver.support.select import Select
path = r"F:\Edad Review 1\chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get("http://www.howstat.com/cricket/Statistics/Players/PlayerMenu.asp")

pl_obj = driver.find_element_by_name("txtPlayer")
p_name = input('Enter player name ')
pl_obj.send_keys(p_name)
pl_obj.send_keys(Keys.ENTER)

python_button = driver.find_elements_by_name("btnFindPlayer")[0]

Enter player name Aamer Hameed

In [279]:
x = driver.find_element_by_xpath("//a[contains(text(), p_name)]")

In [280]:
element1 = driver.find_element_by_css_selector("table.TableLined a")
print (element1.text)

Aamer Hameed (18/10/1954)

In [281]:
driver.find_element_by_link_text(element1.text).click()

In [282]:
element2 = driver.find_element_by_css_selector("td.ODIHeading a")
print (element2.text)

One Day Internationals

In [283]:
driver.find_element_by_link_text(element2.text).click()

In [284]:
title = "Analysis of performances in each calendar year"

In [285]:
driver.find_element_by_link_text('Performances by Year').click()

In [286]:
soup_level2=soup(driver.page_source, 'lxml')

In [287]:
data_table= soup_level2.find('table',{'class':'TableLined'})
print(type(data_table))

<class 'bs4.element.Tag'>

In [288]:
COL=[]
ROW=[]
for row in data_table.findAll('tr'):
    for col in row.findAll('td'):
        #print(col.text)
        COL.append(col.text)
    ROW.append(COL)
    COL=[]

In [306]:
del ROW[0]

In [290]:
year = []
runs = []
for x in ROW:
    year.append(x[0])
    runs.append(x[8])

In [ ]:
driver.close()

In [291]:
year3 = []
for i in year:
    year2 = i.replace("\n","")
    year3.append(year2)
print(year3)

runs3 = []
for j in runs:
    runs2 = j.replace("\n","")
    runs2 = runs2.replace(",  ","")
    runs2 = runs2.replace("\t","")
    runs2 = runs2.replace("                              ","")
    
    runs3.append(runs2)
print(runs3)

['1977', '1978', '                              Overall (2)                            ']
['0 ', '0 ', '0 ']

In [292]:
df=pd.DataFrame()
df['YEAR']= year3
df['RUNS']= runs3

In [293]:
df.drop(df.tail(1).index,inplace=True) # drop last row

In [294]:
rc = df.shape[0]

In [295]:
df["YEAR"] = pd.to_numeric(df["YEAR"])

In [296]:
df["RUNS"] = pd.to_numeric(df["RUNS"])

In [303]:
print("Start year is ",year3[0])
print("End year is ",year3[-2])
print("***Enter query year in this range***")

Start year is  1977
End year is  1978
***Enter query year in this range***

In [304]:
start = int(input("Enter the start year for runs query ---- "))
end = int(input("Enter the end year for runs query ---- "))
if (start>=df.iloc[0,0] and end<=df.iloc[rc-1,0] and start<=end):
    print("Valid query")
    start_index = df[df['YEAR']==start].index.item()
    end_index = df[df['YEAR']==end].index.item()
    #print(start_index)
    #print(end_index)
    run_f = df.iloc[start_index:end_index+1, 1].sum()
    print("Total runs scored in International ODI matches during given period is ",run_f)
else:
    print("Invalid query")

Enter the start year for runs query ---- 1977
Enter the end year for runs query ---- 1978
Valid query
Total runs scored in International ODI matches during given period is  0