In [308]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
import pandas as pd


import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import warnings
warnings.filterwarnings("ignore")

In [309]:
from selenium.webdriver.common.keys import Keys

In [310]:
## code to give an excel sheet as output which contains name of 2492 know ODI players
import os
print("Excel sheet for 2492 known odi players... \nYou can look up for any of the player's query or try a player other than these if you want to try..!!! ")
os.startfile(r'C:\Users\HP\odi2.csv')

Excel sheet for 2492 known odi players...
You can look up for any of the player's query or try a player other than these if you want to try..!!!

In [311]:
## code to start using selenium driver to access HowStat website and navigate through it

from selenium import webdriver
from selenium.webdriver.support.select import Select
path = r"F:\Edad Review 1\chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get("http://www.howstat.com/cricket/Statistics/Players/PlayerMenu.asp")

pl_obj = driver.find_element_by_name("txtPlayer")
p_name = input('Enter player name ')     ##player whose info is required
pl_obj.send_keys(p_name)
pl_obj.send_keys(Keys.ENTER)

python_button = driver.find_elements_by_name("btnFindPlayer")[0]

Enter player name Dhoni

In [312]:
x = driver.find_element_by_xpath("//a[contains(text(), p_name)]")    ## look for the player name in database

In [313]:
element1 = driver.find_element_by_css_selector("table.TableLined a")  ## gives the name stored in database
print (element1.text)

Dhoni, M S (Mahendra Singh Dhoni 07/07/1981)

In [314]:
driver.find_element_by_link_text(element1.text).click()  ## click on the player name

In [315]:
element2 = driver.find_element_by_css_selector("td.ODIHeading a")   ## look for ODI stats option
print (element2.text)

One Day Internationals

In [316]:
driver.find_element_by_link_text(element2.text).click()   ## click on ODI option

In [317]:
title = "Analysis of performances in each calendar year"    ## look for year by year performance

In [318]:
driver.find_element_by_link_text('Performances by Year').click()   ## click on year by year option

In [319]:
soup_level2=soup(driver.page_source, 'lxml')   ## handover the final page link to BeautifulSoup to access stored database

In [320]:
data_table= soup_level2.find('table',{'class':'TableLined'})  ## find table of year by year performance
print(type(data_table))

<class 'bs4.element.Tag'>

In [321]:
    ## create a table from HTML code

COL=[]
ROW=[]
for row in data_table.findAll('tr'):
    for col in row.findAll('td'):
        #print(col.text)
        COL.append(col.text)
    ROW.append(COL)
    COL=[]

In [322]:
del ROW[0]

In [323]:
        ## create a table containing YEAR column and corresponding RUNS_scored in that year column
year = []
runs = []
for x in ROW:
    year.append(x[0])
    runs.append(x[8])

In [324]:
driver.close()    ##close selenium web driver

In [325]:
        ## clean the table i.e remove whitespaces, linebreaks etc

year3 = []
for i in year:
    year2 = i.replace("\n","")
    year3.append(year2)
print(year3)

runs3 = []
for j in runs:
    runs2 = j.replace("\n","")
    runs2 = runs2.replace(",  ","")
    runs2 = runs2.replace("\t","")
    runs2 = runs2.replace("                              ","")
    
    runs3.append(runs2)
print(runs3)

['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '                              Overall (16)                            ']
['19 ', '895 ', '821 ', '1103 ', '1097 ', '1198 ', '600 ', '764 ', '524 ', '753 ', '418 ', '640 ', '278 ', '788 ', '275 ', '327 ', '10500 ']

In [326]:
df=pd.DataFrame()
df['YEAR']= year3
df['RUNS']= runs3

In [327]:
df.drop(df.tail(1).index,inplace=True) ## drop last row

In [328]:
rc = df.shape[0]   ## row_count i.e total active years of player

In [329]:
df["YEAR"] = pd.to_numeric(df["YEAR"])   ## convert YEAR column which was string to numeric data

In [330]:
df["RUNS"] = pd.to_numeric(df["RUNS"])   ## convert RUNS column which was string to numeric data

In [331]:
        ## start year of player -- end year of player

print("Start year is ",year3[0])
print("End year is ",year3[-2])
print("***Enter query year in this range***")

Start year is  2004
End year is  2019
***Enter query year in this range***

In [342]:
        ## take input from user for range for which sum has to be found and give that sum as output

start = int(input("Enter the start year for runs query ---- "))
end = int(input("Enter the end year for runs query ---- "))
if (start>=df.iloc[0,0] and end<=df.iloc[rc-1,0] and start<=end):
    print("Valid query")
    start_index = df[df['YEAR']==start].index.item()
    end_index = df[df['YEAR']==end].index.item()
    #print(start_index)
    #print(end_index)
    run_f = df.iloc[start_index:end_index+1, 1].sum()
    print("Total runs scored in International ODI matches during given period by", p_name, "is ",run_f)
else:
    print("Invalid query")

Enter the start year for runs query ---- 2008
Enter the end year for runs query ---- 2012
Valid query
Total runs scored in International ODI matches during given period by Dhoni is  4183

In [343]:
        ## give output of the total runs scored till the end query year 

if (start>=df.iloc[0,0] and end<=df.iloc[rc-1,0] and start<=end):
    print("Valid query")
    end_index = df[df['YEAR']==end].index.item()
    total_runs = df.iloc[0:end_index+1, 1].sum()
    print("Total runs scored till the end query year i.e", end, "by", p_name, "are: ",total_runs)

Valid query
Total runs scored till the end query year i.e 2012 by Dhoni are:  7021